SERVER_PORT=3010

POSTGRES_PASSWORD=1234
POSTGRES_USER=postgres
POSTGRES_DB=ienetwork
POSTGRES_PORT=5410
POSTGRES_HOST=db_ien

POSTGRES_APP_USER=appuser
POSTGRES_APP_PASSWORD=1234

BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3010 # Base URL of your app used for generating magic links

GMAIL_USER=ches.cmu@gmail.com
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REFRESH_TOKEN=

REDIS_HOST=redis_ien
REDIS_PORT=6410
REDIS_PASSWORD=1234

REDIS_INSIGHT_PORT=5510