SERVER_PORT=3010

POSTGRES_PASSWORD=1234
POSTGRES_USER=postgres
POSTGRES_DB=ienetwork
POSTGRES_PORT=5410
POSTGRES_HOST=localhost

POSTGRES_APP_USER=appuser
POSTGRES_APP_PASSWORD=

BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3010 # Base URL of your app used for generating magic links

GMAIL_USER=youraccount@gmail.com
GOOGLE_CLIENT_ID=xxxxxxxx.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=xxxxxxxx
GOOGLE_REFRESH_TOKEN=xxxxxxxx

REDIS_HOST=localhost
REDIS_PORT=6410
REDIS_PASSWORD=1234

REDIS_INSIGHT_PORT=5510

