POSTGRES_PASSWORD=
POSTGRES_USER=postgres
POSTGRES_DB=ienetwork
POSTGRES_PORT=5432
POSTGRES_HOST=localhost

POSTGRES_APP_USER=appuser
POSTGRES_APP_PASSWORD=

BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:4321 # Base URL of your app

GMAIL_USER=youraccount@gmail.com
GOOGLE_CLIENT_ID=xxxxxxxx.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=xxxxxxxx
GOOGLE_REFRESH_TOKEN=xxxxxxxx