---
// This component is used in the mobile menu to allow users to switch languages on mobile devices.
// This is identical in functionality to the LanguagePicker component used in the desktop menu,
// but with a different id for the select element to avoid conflicts with the desktop version.

import { type Locale } from '@utils/locale'
import { getUrlListCustom } from '@utils/locale'

interface Props {
  locale: Locale
}
const { locale } = Astro.props
const localeUrlList = getUrlListCustom(Astro.url.pathname)
console.log('Current locale:', locale)
console.log('Locale URL list:', localeUrlList)
---

<select
  class="border border-gray-300 rounded-md p-2"
  id="language-switcher-mobile"
  data-locale-url-list={JSON.stringify(localeUrlList)}
  onchange="const urlList = JSON.parse(this.dataset.localeUrlList || '{}'); const nextUrl = urlList[this.value]; if (typeof nextUrl === 'string' && nextUrl.length > 0) window.location.assign(nextUrl);"
>
  <option value="th" selected={locale === 'th'}>Thai</option>
  <option value="en" selected={locale === 'en'}>English</option>
</select>
